@model Microsoft.AspNetCore.Identity.IdentityRole
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" class="text-center w-100">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="w-100 form-check font-16 font-medium" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-block btn-outline-dark btn-lg" />
</form>

